.container_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    padding-top: 5rem;
}

.content_image, img{
    width: 20rem;
    height: 30rem;
    border-radius:5px;
    object-fit: cover;
    margin-top: auto;
}

.content_data{
    width: 20rem;
    text-align: center; 
}